
*.mp4

*.srt

*.zip

*.m

*.pyc

*.mat

*.dat

*.jpg

*.png

mlclass-ex2-004/mlclass-ex2/pos.ps

mlclass-ex4-004/mlclass-ex4/ex4_multiminimize.py

mlclass-ex2-004/p*

mlclass-ex6-004/mlclass-ex6/featureNormalize.py

mlclass-ex7-004/mlclass-ex7/plotDataPoints_experiments.py

mlclass-ex7-004/mlclass-ex7/graph*

*octave-*

*.pdf

.ipynb_checkpoints
