
Coursera ml 2014 certificate.pdf

*.mp4

*.srt

*.zip

*.m

*.pyc

*.mat

mlclass-ex4-004/mlclass-ex4/octave-core

mlclass-ex1/mlclass-ex1/octave-core

mlclass-ex2-004/ex2.pdf

mlclass-ex2-004/ex2.pdf

mlclass-ex5-004/mlclass-ex5/octave-core

mlclass-ex6-004/mlclass-ex6/octave-core

mlclass-ex8-004/mlclass-ex8/octave-core

mlclass-ex2-004/mlclass-ex2/pos.ps

*.pdf

mlclass-ex2-004/ex2.pdf
